.layout-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #f9fafb; /* bg-gray-50 */
  height: 100vh; /* h-screen */
  overflow-x: auto;
  min-width: 1920px;
}

.layout-body {
  display: flex;
  flex: 1;
  overflow: hidden;
  height: calc(100vh - 64px);
}

.main-content {
  flex: 1;
  overflow-y: auto;
  transition-property: all;
  transition-duration: 300ms;
  display: flex;
  flex-direction: column;
}

.content-body {
  flex: 1;
  padding: 1.5rem; /* p-6 */
  padding-bottom: 100px;
}

